**/build
*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
.wrangler
/.kotlin/
/build
/build-cache
/captures
/gradle-home
/libs
/local.properties
/node_modules
default.jks
keystore.properties
local.properties
secrets.properties
