<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".oauth.AniListOAuthShareTargetActivity"
            android:enabled="false"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar.MinWidth"
            android:title="@string/aniList_oAuth_share_title">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="anilist.co" />
                <data android:path="/api/v2/oauth/pin" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.thekeeperofpie.anichive" />
                <data android:host="oauth" />
            </intent-filter>
        </activity>

        <activity
            android:name=".oauth.AniListOAuthTrampolineActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>
</manifest>
